{% extends 'base.html.twig' %}

{% block title %}
    Корзина - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Заказы пользователя</h3>

        {% include 'cart/items.html.twig' with {'order': order} %}

        <a href="{{ path('order_complete') }}">Оформить заказ</a>

    </div>
{% endblock %}