{% extends 'base.html.twig' %}

{% block body %}
    <div class="center-block" style="text-align: justify">
        <h1 style="color: darkgreen"> <strong> КАLINКА- ВАШ интернет-магазин! </strong></h1>
        <h3 >Добро пожаловать!</h3>
        <h2 style="color: orangered"> <em>Специальные предложения! </em></h2>
     </div>

    <div class="row">
        {% include 'partials/products.html.twig' with {'products': topProducts} %}
    </div>

{% endblock %}