{% extends 'base.html.twig' %}

{% block body %}
    <div class="center-block" style="text-align: justify">
        <h1 style="color: darkgreen"> <strong> КАLINКА- ВАШ интернет-магазин! </strong></h1>
        <h3 >Добро пожаловать!</h3>
        <h2 style="color: orangered"> <em>Специальные предложения! </em></h2>
     </div>

    <div class="row">
        {% for product in topProducts %}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 product">
                {% if product.imageName %}
                    <img src="{{ vich_uploader_asset(product, 'imageFile') | imagine_filter('products_list') }}" class="img-thumbnail img-responsive center-block">
                {% endif %}
                <p>
                    {{ product.name }}
                    <span class="price">{{ product.price|number_format(2, ',', ' ') }}</span>
                </p>
            </div>
        {% endfor %}
    </div>

{% endblock %}